@charset "UTF-8";

@font-face {
    font-family: "Greek";
    src: url(../fontes/DalekPinpointBold.ttf) format(truetype);
}

* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(10, 10, 10);
}

header {
    height: 80px;
    background-color: black;
    padding: 20px 20px 0px 20px;
}

header > a {
    text-decoration: none;
}

header > a.nav {
    font-weight: bold;
    margin-left: 40px ;
    color: white;
}

header > a.nav:hover {
    text-decoration: underline;
}

main {
    max-width: 700px;
    margin: auto;
}

main h1 {
    text-align: center;
    color: white;
    padding: 20px 0px;
}

main a {
    text-decoration: none;
    color: white;
}

main div.filosofos {
    background-color: rgb(22, 22, 22);
    height: 150px;
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative;
}

main div.filosofos:hover {
    border: 1px solid white;
}

main div.filosofos > h2 {
    font-family: "Greek";
    font-size: 2.5em;
}

main div#socrates {
    background-image: url(../imagens/socrates.jpg);
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: cover;
}

main div#platao {
    background-image: url(../imagens/platao.jpg);
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: cover;
}

main div#aristoteles {
    background-image: url(../imagens/aristoteles.jpg);
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
}

main h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

footer {
    background-color: black;
    color: white;
    margin-top: 50px;
    padding: 10px;
}

footer > p {
    text-align: center;
}

footer > p > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer > p > a:hover {
    text-decoration: underline;
}
